<%= form_for :learning_object,
						 url: obj ? admin_learning_object_path(obj) : admin_learning_objects_path,
						 method: obj ? 'put' : 'post', remote: 'true',
						 html: {id: "obj_#{obj.try(:id)}"} do |f| %>
	<fieldset>
		<legend>Quiz</legend>
		<%= f.hidden_field :category, value: 'quiz' %>
		<%= f.text_field :name, placeholder: 'name' %>
		<div id="quiz<%= obj.try(:id) %>"></div>

		<button onclick="addLongText('#quiz<%= obj.try(:id) %>')" class="btn">Long Answer Question</button>
		<button onclick="addShortText('#quiz<%= obj.try(:id) %>')" class="btn">Short Answer Question</button>
		<button onclick="addNumber('#quiz<%= obj.try(:id) %>')" class="btn">Number Question</button>
		<button onclick="addMC('#quiz<%= obj.try(:id) %>')" class="btn">Multiple Choice Question</button>

		<hr>
		<%= f.submit 'Save', 'data-disable-with': 'saving...', class: 'btn btn-green' %>
		<%= link_to 'Delete', admin_learning_object_path(obj), method: 'delete', class: 'btn btn-red' %>
	</fieldset>
<% end %>

<script>
	<% if obj && obj.fields %>
		<% obj.fields.each do |field| %>
			<%=raw "addByType('#{field['type']}', '#quiz#{obj.id}')" if field['type'] %>
		<% end%>
	<% end%>
</script>
