<div class="row">
	<div class="c2 col">
		<ul class="tabs vertical">
			<li class="selected" data-target="#courses">Courses</li>
			<li class="" data-target="#resources">Resources</li>
		</ul>
	</div>

	<div class="c10 col">
		<div class="tab-panes">
			<div class="tab-pane selected" id="courses">
				<div class="col c3">
					<ul class="tabs vertical">
						<li class="" data-target="#coursenew">New Course</li>
						<% Course.all.each do |course| %>
							<li class="" data-target="#course<%= course.id %>"><%= course.name %></li>
						<% end %>
					</ul>
				</div>
				<div class="col c9">
					<div class="tab-panes">
						<div class="tab-pane" id="coursenew">
							<%= form_for :course, url: admin_courses_path, method: 'post' do |f| %>
								<%= f.text_field :name, placeholder: 'name' %>
								<%= f.text_area :description, placeholder: 'description' %>
								<%= f.submit 'Create', 'data-disable-with': 'saving...' %>
							<% end %>
						</div>
						<% Course.all.each do |course| %>
							<div class="tab-pane" id="course<%= course.id %>">
								<div class="row">
									<%= form_for course, url: admin_course_path(course), method: 'put' do |f| %>
										<%= f.text_field :name, placeholder: 'name' %>
										<%= f.text_area :description, placeholder: 'description' %>
										<%= f.submit 'Create', 'data-disable-with': 'saving...' %>
									<% end %>
								</div>
								<div class="row">
									<% course.course_steps.each do |step| %>
										<ul class="list-group">
											<li>
												<h3><%= link_to step.name, admin_course_course_step_path(course, step) %></h3>
												<%= step.description %>
											</li>
										</ul>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="resources">

			</div>
		</div>
	</div>

</div>
