<!DOCTYPE html>
<html>
<head>
	<title>Nnfab</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar">
	<ul class="navbar-left">
		<li><a id="open-sidebar-left" href="#"><i class="fa fa-th-large"></i></a></li>
	</ul>
	<ul class="navbar-right">
		<li><%= link_to raw('<i class="fa fa-user"></i>'), user_path(current_user) if current_user %></li>
		<li><a id="open-help" href="#"><i class="fa fa-question"></i></a></li>
		<li><a id="open-sidebar-right" href="#"><i class="fa fa-th"></i></a></li>
	</ul>
</nav>

<nav id="sidebar-left" class="open">
	<ul>
		<li class="<%= add_active('home', 'index') %>"><%= link_to icon('home'), root_path, title: 'Home' %></li>
		<li class="<%= add_active('courses', 'index') %>"><%= link_to icon('briefcase'), courses_path, title: 'Courses' %></li>
		<li class="<%= add_active('users', 'index') %>"><%= link_to icon('users'), users_path, title: 'People' %></li>
		<li><hr></li>
		<li class="<%= add_active('admin/admin', 'index') %>"><%= link_to icon('dashboard'), admin_dashboard_path, title: 'Admin Dashboard' %></li>
		<li class="<%= add_active('admin/courses', 'index') %>"><%= link_to icon('folder'), admin_courses_path, title: 'Admin Courses' %></li>
		<li class="<%= add_active('admin/admin', 'settings') %>"><%= link_to icon('gear'), admin_settings_path, title: 'Settingss' %></li>
	</ul>
</nav>

<nav id="sidebar-right" class="open">
	<h3>Many things</h3>
</nav>


<div id="page-wrap" class="right-open left-open">
	<nav id="help">
		<div class="container">
			<h4>Help</h4>
		</div>
	</nav>

	<%= yield %>

</div>

<script>
	(function() {

		// Add an event listener
		document.addEventListener("name-of-event", function(e) {
			console.log(e.detail); // Prints "Example of an event"
		});

		var open_dialogues = document.querySelectorAll('*[data-dialogue]')
		for (var d=0; d < open_dialogues.length; d++){
			open_dialogues[d].addEventListener('click', function(evt){
				console.log('dataset', evt.target.dataset.dialogue)
				document.getElementById(evt.target.dataset.dialogue).classList.toggle('open')
			})
		}

		var dialogues = document.querySelectorAll('.dialogue')
		for (var f=0; f < dialogues.length; f++){
			dialogues[f].addEventListener('click', function(evt){
				evt.target.classList.toggle('open')
			})
		}


		var expanders = document.querySelectorAll('*[data-expand]')
		console.log('expanders', expanders)
		for (var e = 0; e < expanders.length; e++){
			expanders[e].addEventListener('click', function(evt){
				document.getElementById(evt.target.dataset.expand).classList.toggle('expanded')
			})
		}

		var modal_triggers = document.getElementsByClassName('launch-modal')
		console.log(modal_triggers)
		for (var m = 0; m < modal_triggers.length; m++){
			modal_triggers[m].addEventListener('click', function(evt){
				var modal = document.querySelector(evt.target.dataset.target)
				modal.style.visibility = (modal.style.visibility == "visible") ? "hidden" : "visible";
			})
		}

		if (document.getElementById('open-sidebar-left')) {
			document.getElementById('open-sidebar-left').addEventListener('click', function(evt){
				document.getElementById('sidebar-left').classList.toggle('open')
				document.getElementById('page-wrap').classList.toggle('left-open')
			})
		}

		if (document.getElementById('open-sidebar-right')) {
			document.getElementById('open-sidebar-right').addEventListener('click', function(evt){
				document.getElementById('sidebar-right').classList.toggle('open')
				document.getElementById('page-wrap').classList.toggle('right-open')
			})
		}

		if (document.getElementById('open-help')) {
			document.getElementById('open-help').addEventListener('click', function(evt){
				document.getElementById('help').classList.toggle('open')
			})
		}

		var tabs = document.querySelectorAll('.tabs li')
		for (var i = 0; i < tabs.length; i++) {
			tabs[i].addEventListener("click", function(e) {
				var target_tab = e.target
				var target_pane = document.querySelector(e.target.dataset.target)
				var all_tabs = e.target.parentElement.querySelectorAll('.tabs li')

				console.log()

				for (var i1 = 0; i1 < all_tabs.length; i1++) {
					all_tabs[i1].classList.remove('selected')
					document.querySelector( all_tabs[i1].dataset.target ).classList.remove('selected')
				}

				target_pane.classList.add('selected')
				target_tab.classList.add('selected')


				// Create the event and fire it
				var event = new CustomEvent("tab-changed");
				document.dispatchEvent(event);
			});
		}
	})();
</script>

</body>
</html>

